# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# coco2dx
cocos2d/
Resources/

# Visual Sutdio Ignore Files
*.user
*vs/
proj.win32/*
!proj.win32/*.json
!proj.win32/*.h
!proj.win32/*.cpp
!proj.win32/*.rc
!proj.win32/res
!proj.win32/*.sln
!proj.win32/*.vcxproj
!proj.win32/*.vcxproj.filters
!proj.win32/*.vcxproj.filters
